<div class="page_info">
  <h1>Pages#info</h1>
  <p>Find me in app/views/pages/info.html.erb</p>

  <p>
    Name: Rich
    <br>email: xxx@gmail.com
    <br><a href="tw.yahoo.com">Yahoo</a>
  </p>

  <img src="http://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png" alt="Smiley face" width="200px">
  <p>
</div>
  